body {
  background-image: url("images/students-by-windows.jpg") !important;
  flex: 1;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

.custom-header {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  color: #FFFFFF;
}


label {
  color: #FFFFFF;
  font-size: 17px;
}

.logo {
  height: 22px;
  margin-top: 14px;
  float: left;
  padding-right: 16px;
}

.alert-success {
  color: #FFFFFF;
  background-color: #AA1925;
  border-color: #AA1925;
  text-align: center;
}

.form {
  width: 500px;
}

.btn.btn-social.btn-block.btn-github {
  text-align: center;
}

.btn-social>:first-child {
  left: 162px !important;
}

.sidebar-students {
  position : absolute;
  top: 52px;
  left: -200px;
  transition : 100ms left;
}

#navigation-toggle {
  position: absolute;
  left: 200px;
  background: #00333F;
  color: #EFF7F2;
  text-decoration: none;
  padding: 20px;
}

.show {
  left : 0;
}

.students {
  list-style : none;
  padding : 0;
  margin : 0;
}

.student  {
  display: block;
  color: #062533;
  background-color: #EFF7F2;
  line-height: 2em;
  text-decoration: none;
  padding: 10px 30px;
  width: 200px;
}

.navbar-brand {
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.navbar-inverse {
  background-color: #00333F !important;
  border-color: #00333F !important;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important;
}

.btn.btn-block.btn-primary {
  background-color: #AA1925;
  border-color: #AA1925;
}

.thumb {
  border: 0px solid !important;
  background-color: red !important;
  left: 1px;
  font-size: 17px;
}

.extra-input {
  width: 355px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    /* font-style: normal; */
    font-weight: normal;
    line-height: 1;
    /* -webkit-font-smoothing: antialiased; */
    background-color: #00333F!important;
    border-color: #00333F !important;
    color: white !important;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
  }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #AA1925;
    border-color: #AA1925;
}

.btn.btn-primary {
  background-color: #AA1925 !important;
  border-color: #AA1925 !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF !important
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
  letter-spacing: 0.2em !important;
  text-transform: uppercase !important;
  text-rendering: optimizeLegibility !important;
  font-weight: 500 !important;
}

.rating {
  height: 237px;
  width: 279px;
  background-color: #FFFFFF;
  border-radius: 7px;
  text-align: center;
  margin: 12px;
  opacity: 0.5;
}

.cohort-div {
  text-align: center;
}

.cohort-button {
  color: #fff;
  background-color: #AA1925;
  border-color: #AA1925;
  margin-right: 12px;
}
.rating-title {
  font-size: 19px;
  margin-top: 173px;
  color: #AA1925;
  font-weight: 600;
}
