.form {
  width: 500px;
}

.btn.btn-social.btn-block.btn-github {
  text-align: center;
}

.btn-social>:first-child {
  left: 162px !important;
}

.sidebar-students {
  position : absolute;
  top: 300px;
  left: -200px;
  transition : 100ms left;
}

#navigation-toggle {
  position : absolute;
  left : 200px;
  background : rgba(3,159,244,.95);
  color : white;
  text-decoration : none;
  padding : 20px;
}

.show {
  left : 0;
}

.students {
  list-style : none;
  padding : 0;
  margin : 0;
}
.student  {
  display : block;
  color: white;
  background-color : #444;
  line-height : 2em;
  text-decoration : none;
  padding : 10px 30px;
  width : 200px;
