body {
  background-color: #FFFFFF !important;
  /*background-image: url("images/makersacademy.png") !important;*/
  /*background-size: cover;*/
  /*background-blend-mode: hue;*/
}

label {
  color: #AA1925;
}

.form {
  width: 500px;
}

.btn.btn-social.btn-block.btn-github {
  text-align: center;
}

.btn-social>:first-child {
  left: 162px !important;
}

.sidebar-students {
  position : absolute;
  top: 52px;
  left: -200px;
  transition : 100ms left;
}

#navigation-toggle {
  position : absolute;
  left : 200px;
  background : rgba(3,159,244,.95);
  color : white;
  text-decoration : none;
  padding : 20px;
}

.show {
  left : 0;
}

.students {
  list-style : none;
  padding : 0;
  margin : 0;
}
.student  {
  display : block;
  color: white;
  background-color : #444;
  line-height : 2em;
  text-decoration : none;
  padding : 10px 30px;
  width : 200px;
}

.navbar-brand {
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.navbar-inverse {
  background-color: #00333F !important;
  border-color: #00333F !important;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important;
}

.btn.btn-block.btn-primary {
  background-color: #AA1925;
  border-color: #AA1925;
}

.pagination > li > span {
  border: 0px solid !important;
  background-color: #FFFFFF !important;
  left: 1px;
  font-size: 17px;
}

.extra-input {
  width: 355px;
}
