<h2 class="custom-header">Juniors Average Ratings</h2>
<div class="row">
<div class="col-md-6 rating">
  <div>
    <p class="number">{{juniorPairingAverage | number: 1}}</p>
    <p class="rating-title">Junior Pairing Average</p>
  </div>
</div>
<div class="col-md-6 rating">
  <div>
    <p class="number">{{juniorChallengeAverage | number: 1}}</p>
    <p class="rating-title">Junior Challenge Average</p>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-6 rating">
    <div>
      <p class="number">{{juniorFeelingAverage | number: 1}}</p>
      <p class="rating-title">Junior Feeling Average</p>
    </div>
  </div>
  <div class="col-md-6 rating">
    <div>
      <p class="number">{{juniorConfidenceAverage}}</p>
      <p class="rating-title">Junior Confidence Average</p>
    </div>
  </div>
</div>
