<label for="pairing">How was pairing today?</label>
<br>
<ul class="pagination">
  <li><span class="glyphicon glyphicon-thumbs-down thumb"></span></li>
  <li ng-class="{active: pairing === 1}"><a ng-click="pairing = 1" href>1 <span class="sr-only">(current)</span></a></li>
  <li ng-class="{active: pairing === 2}"><a ng-click="pairing = 2" href>2 <span class="sr-only">(current)</span></a></li>
  <li ng-class="{active: pairing === 3}"><a ng-click="pairing = 3" href>3 <span class="sr-only">(current)</span></a></li>
  <li ng-class="{active: pairing === 4}"><a ng-click="pairing = 4" href>4 <span class="sr-only">(current)</span></a></li>
  <li ng-class="{active: pairing === 5}"><a ng-click="pairing = 5" href>5 <span class="sr-only">(current)</span></a></li>
  <li><span class="glyphicon glyphicon-thumbs-up"></span></li>
</ul>
<div class="form-group" ng-show="pairing < 3">
  <label for="pairing-extra"><span class="glyphicon glyphicon-asterisk"></span> Any particular reason?</label>
  <input type="text" ng-model="pairingExtra" class="extra-input">
</div>
