<h2 class="custom-header">Seniors Average Ratings</h2>
<div class="row">
<div class="col-md-6 rating">
  <div>
    <p class="number">{{seniorChallengeAverage | number: 1}}</p>
    <p class="rating-title">Senior Challenge Average</p>
  </div>
</div>
<div class="col-md-6 rating">
  <div>
    <p class="number">{{seniorFeelingAverage | number: 1}}</p>
    <p class="rating-title">Senior Feeling Average</p>
  </div>
</div>
</div>
<div class="row">
<div class="col-md-6 rating">
  <div>
    <p class="number">{{seniorPairingAverage | number: 1}}</p>
    <p class="rating-title">Senior Pairing Average</p>
  </div>
</div>
<div class="col-md-6 rating">
  <div>
    <p class="number">{{seniorConfidenceAverage}}</p>
    <p class="rating-title">Senior Confidence Average</p>
  </div>
</div>
</div>
