<div class="row">
  <div class='col-md-offset-3 col-md-6 cohort-div'>
    <button class="btn btn-success cohort-button" type="button" ng-click="show('juniors')">Juniors</button>
    <button class="btn btn-info cohort-button" type="button" ng-click="show('seniors')">Seniors</button>
  </div>

  <div class='col-md-offset-3 col-md-6'>
    <div class="row" ng-show="select === 'juniors'">
      <juniors-ratings></juniors-ratings>
    </div>
    <div class="row" ng-show="select === 'seniors'">
      <seniors-ratings></seniors-ratings>
    </div>
  </div>
</div>

<div class="sidebar-students" ng-controller="ToggleCtrl" sidebar-directive="state">
  <button id="navigation-toggle" ng-click="toggleState()"> Students </button>
  <ul class="students" ng-repeat="user in users">
    <li class="student" ng-mouseover="hoverOn()" ng-mouseleave="hoverNot()">
      <p ng-class="{sad: user.feeling < 3 }"> {{user.name}}<p>
      <div class="details" ng-show="showStats">
        <p> Challenge: {{user.challenge}} </p>
        <p> Pairing: {{user.pairing}} </p>
        <p> Emotional Level: {{user.feeling}} </p>
        <p> Confidence: {{user.confidence}} </p>
      </div>
    </li>
  </ul>
</div>
