


<div class='row'>
  <div class='col-md-offset-3 col-md-6' ng-repeat='user in users'>
    <p>
    {{user.name}}
    {{user.challenge}}
    </p>
  </div>
  <p>
    Junior Challenge Average: {{juniorChallengeAverage | number: 1}}
  </p>
  <p>
    Senior Challenge Average: {{seniorChallengeAverage | number: 1}}
  </p>

</div>

<button ng-click="getAverage()">Click</button>

<!-- <p>Junior Challenge Ratings: {{juniorChallengeRatings}}</p>
  <p>Junior Feeling Ratings: {{juniorFeelingRatings}}</p>
  <p>Junior Pairing Ratings: {{juniorPairingRatings}}</p>
  <br>
  <p>Senior Challenge Ratings: {{seniorChallengeRatings}}</p>
  <p>Senior Feeling Ratings: {{seniorFeelingRatings}}</p>
  <p>Senior Pairing Ratings: {{seniorPairingRatings}}</p> -->



<div class="sidebar-students" ng-controller="ToggleCtrl" sidebar-directive="state">
  <button id="navigation-toggle" ng-click="toggleState()"> Students </button>
  <ul class="students" ng-repeat="user in users">
    <li class="student" ng-mouseover="hoverOn()" ng-mouseleave="hoverNot()">
      <p ng-show="!showStats"> {{user.name}}<p>
      <div ng-show="showStats">
        <p> Challenge: {{user.challenge}} </p>
        <p> Pairing: {{user.pairing}} </p>
        <p> Emotional Level: {{user.feeling}} </p>
        <p> Confidence: {{user.confidence}} </p>
    </li>
</div>
