<div class='row' ng-controller="FormCtrl" ng-controller="LoginCtrl">
  <div class='col-md-6 col-md-offset-3'>
    <form ng-submit='addReview()' ng-hide='done'>
      <div class='form-group'>
        <label for="cohort">Which Cohort are you in?</label>
        <br>
        <ul class="pagination">
          <li ng-class="{active: cohort === 'Oct 2015'}"><a ng-click="cohort = 'Oct 2015'" href>Oct 2015 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: cohort === 'Nov 2015'}"><a ng-click="cohort = 'Nov 2015'" href>Nov 2015 <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>

      <div class='form-group'>
        <label for="pairing">How was pairing today?</label>
        <br>
        <ul class="pagination">
          <li><span class="glyphicon glyphicon-thumbs-down"></span></li>
          <li ng-class="{active: pairing === 1}"><a ng-click="pairing = 1" href>1 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: pairing === 2}"><a ng-click="pairing = 2" href>2 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: pairing === 3}"><a ng-click="pairing = 3" href>3 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: pairing === 4}"><a ng-click="pairing = 4" href>4 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: pairing === 5}"><a ng-click="pairing = 5" href>5 <span class="sr-only">(current)</span></a></li>
          <li><span class="glyphicon glyphicon-thumbs-up"></span></li>
        </ul>
        <div class="form-group" ng-show="pairing < 3">
          <label for="pairing-extra"><span class="glyphicon glyphicon-asterisk"></span> Any particular reason?</label>
          <input type="text" ng-model="pairingExtra" class="extra-input">
        </div>
      </div>


      <div class='form-group'>
        <label for="challenge">How do you feel about the challenge so far?</label>
        <br>
        <ul class="pagination">
          <li><span class="glyphicon glyphicon-thumbs-down"></span></li>
          <li ng-class="{active: challenge === 1}"><a ng-click="challenge = 1" href>1 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: challenge === 2}"><a ng-click="challenge = 2" href>2 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: challenge === 3}"><a ng-click="challenge = 3" href>3 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: challenge === 4}"><a ng-click="challenge = 4" href>4 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: challenge === 5}"><a ng-click="challenge = 5" href>5 <span class="sr-only">(current)</span></a></li>
          <li><span class="glyphicon glyphicon-thumbs-up"></span></li>
        </ul>
        <div class="form-group" ng-show="challenge < 3">
          <label for="challenge-extra"><span class="glyphicon glyphicon-asterisk"></span> Any particular reason?</label>
          <input type="text" ng-model="challengeExtra" class="extra-input">
        </div>
      </div>

      <div class='form-group'>
        <label for="confidence">Do you feel confident that you will finish the challenge?</label>
        <br>
        <ul class="pagination">
          <li ng-class="{active: confidence === 'Yes'}"><a ng-click="confidence = 'Yes'" href>Yes <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: confidence === 'No'}"><a ng-click="confidence = 'No'" href>No <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>

      <div class='form-group'>
        <label for="feeling">How is your mood today?</label>
        <br>
        <ul class="pagination">
          <li><span class="glyphicon glyphicon-thumbs-down"></span></li>
          <li ng-class="{active: feeling === 1}"><a ng-click="feeling = 1" href>1 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: feeling === 2}"><a ng-click="feeling = 2" href>2 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: feeling === 3}"><a ng-click="feeling = 3" href>3 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: feeling === 4}"><a ng-click="feeling = 4" href>4 <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: feeling === 5}"><a ng-click="feeling = 5" href>5 <span class="sr-only">(current)</span></a></li>
          <li><span class="glyphicon glyphicon-thumbs-up"></span></li>
        </ul>
        <div class="form-group" ng-show="feeling < 3">
          <label for="feeling-extra"><span class="glyphicon glyphicon-asterisk"></span> How can we help?</label>
          <input type="text" ng-model="feelingExtra" class="extra-input">
        </div>
      </div>

      <div class='form-group'>
        <label for="comments">Additional Comments:</label>
        <br>
          <textarea rows="4" cols="60" ng-model="comments" placeholder="Enter Comments"></textarea>
      </div>
      <input type='submit' class='btn btn-primary' value='Submit' ng-click="thankYou()">
    </form>
    <br/>
    <div ng-show='done'>
      <h3 class='alert alert-success'>
        Thank you for submitting.
      </h3>
    </div>
  </div>
</div>
